/* src/app/components/action-list/action-list.component.css */

h2 {
  color: #007bff;
}

div {
  margin-bottom: 15px;
}

select, input[type="text"], input[type="number"] {
  width: 100%;
  padding: 8px;
  margin: 5px 0;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  border: 1px solid #dee2e6;
  border-radius: 8px;
  padding: 15px;
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.action-details {
  flex-grow: 1;
}

.action-buttons button {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 8px 15px;
  font-size: 14px;
  cursor: pointer;
  border-radius: 4px;
  margin-right: 5px;
}

.action-buttons button:hover {
  background-color: #0056b3;
}

li:last-child {
  border: none;
}

li input, li button {
  margin-top: 10px;
}

li input[type="text"], li input[type="number"], li button {
  width: auto;
}

li input[type="text"], li input[type="number"] {
  margin-right: 10px;
}
